
name: Bot Push

on:
  push:
    branches-ignore: [ "main" ]
    paths:
      - 'backend/**'

jobs:
  increment:
    runs-on: ubuntu-latest
    steps:
      - name: Test
        run: echo ${{ github.actor }}
      - name: Trigger Build
        run: echo "Triggering build..."