name: Increment Project Version

on:
  push:
    branches: [main]
    paths:
      - 'backend/**'

jobs:
  increment:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v4
        with:
            fetch-depth: 2
      - name: Update Version
        run: |
          FILE_PATH="./backend/pantryproject/build.gradle"

          PREVIOUS_COMMIT_SHA="${{ github.event.before }}"

          git checkout "$PREVIOUS_COMMIT_SHA" -- "$FILE_PATH"

          PREVIOUS_PROJECT_VERSION=""

          regex="version = '([^\n]*)'"
          file_contents=$(cat $FILE_PATH)
          if [[ "$file_contents" =~ $regex ]]; then
            PREVIOUS_PROJECT_VERSION=${BASH_REMATCH[1]}
          fi

          git restore $FILE_PATH

          CURRENT_PROJECT_VERSION=""

          file_contents=$(cat $FILE_PATH)
          if [[ "$file_contents" =~ $regex ]]; then
            CURRENT_PROJECT_VERSION=${BASH_REMATCH[1]}
          fi
         
          if [[ "$CURRENT_PROJECT_VERSION" == "$PREVIOUS_PROJECT_VERSION" ]]; then
            version="$CURRENT_PROJECT_VERSION"
            major=$(echo "$version" | cut -d'.' -f1)
            minor=$(echo "$version" | cut -d'.' -f2)
            patch=$(echo "$version" | cut -d'.' -f3)

            patch=$((patch + 1))

            NEW_VERSION="$major.$minor.$patch"

            sed -i "s/version = '[^\n]*'/version = '$NEW_VERSION'/" $FILE_PATH
          fi

          echo NEW_VERSION