name: Increment Project Version

on:
  pull_request:
    branches: [ "main" ]
    paths:
      - 'backend/**'

jobs:
  increment:
    runs-on: ubuntu-latest
    permissions: write-all
    env:
      BUILD_FILE_PATH: ./backend/pantryproject/build.gradle
    steps:
      - uses: actions/checkout@v4
        with:
            fetch-depth: 0
      - name: Get Current Version
        run: |
          VERSION=""

          regex="version = '([^\n]*)'"
          file_contents=$(cat $BUILD_FILE_PATH)
          if [[ "$file_contents" =~ $regex ]]; then
            VERSION=${BASH_REMATCH[1]}
          fi

          echo 'CURRENT_VERSION=$VERSION' >> $GITHUB_ENV
          
      - name: Get Main Version
        run: |
          git checkout main -- $BUILD_FILE_PATH
          VERSION=""

          regex="version = '([^\n]*)'"
          file_contents=$(cat $BUILD_FILE_PATH)
          if [[ "$file_contents" =~ $regex ]]; then
            VERSION=${BASH_REMATCH[1]}
          fi

          echo 'MAIN_VERSION=$VERSION' >> $GITHUB_ENV

          git restore $BUILD_FILE_PATH
          
      - name: Versions
        run: echo "main version - $MAIN_VERSION    current version - $CURRENT_VERSION"
          