name: Increment Project Version

on:
  pull_request:
    branches: [ "main" ]
    paths:
      - 'backend/**'

jobs:
  increment:
    runs-on: ubuntu-latest
    permissions: write-all
    env:
      BUILD_FILE_PATH: ./backend/pantryproject/build.gradle
    steps:
      - uses: actions/checkout@v4
        with:
          ref: main
      - name: Get Main Version
        run: |
          VERSION=""

          regex="version = '([^\n]*)'"
          file_contents=$(cat $BUILD_FILE_PATH)
          if [[ "$file_contents" =~ $regex ]]; then
            VERSION=${BASH_REMATCH[1]}
          fi

          echo "MAIN_VERSION=$VERSION" >> $GITHUB_ENV
          
      - uses: actions/checkout@v4
      - name: Get Current Version
        run: |
          VERSION=""

          regex="version = '([^\n]*)'"
          file_contents=$(cat $BUILD_FILE_PATH)
          if [[ "$file_contents" =~ $regex ]]; then
            VERSION=${BASH_REMATCH[1]}
          fi

          echo "CURRENT_VERSION=$VERSION" >> $GITHUB_ENV
          
          
      - name: Update Versions
        run: |
          # Return 1 if a leq b
          major_a=$(echo "$CURRENT_VERSION" | cut -d'.' -f1)
          minor_a=$(echo "$CURRENT_VERSION" | cut -d'.' -f2)
          patch_a=$(echo "$CURRENT_VERSION" | cut -d'.' -f3)

          major_b=$(echo "$MAIN_VERSION" | cut -d'.' -f1)
          minor_b=$(echo "$MAIN_VERSION" | cut -d'.' -f2)
          patch_b=$(echo "$MAIN_VERSION" | cut -d'.' -f3)

          if [[ $major_a -lt $major_b ]]; then
            LTE=1
          elif [[ $major_a -gt $major_b ]]; then
            LTE=0
          fi

          if [[ $minor_a -lt $minor_b ]]; then
            LTE=1
          elif [[ $minor_a -gt $minor_b ]]; then
            LTE=0
          fi  

          if [[ $patch_a -le $patch_b ]]; then
            LTE=1
          else
            LTE=0
          fi

          if [[ $LTE -eq 1 ]]; then
            version="$MAIN_VERSION"
            major=$(echo "$version" | cut -d'.' -f1)
            minor=$(echo "$version" | cut -d'.' -f2)
            patch=$(echo "$version" | cut -d'.' -f3)

            patch=$((patch + 1))

            NEW_VERSION="$major.$minor.$patch"

            sed -i "s/version = '[^\n]*'/version = '$NEW_VERSION'/" $BUILD_FILE_PATH

            git config user.name github-actions
            git config user.email github-actions@github.com

            git add $BUILD_FILE_PATH
            git commit -m "Increment Version"
            git push
          fi
          